/*
 * Configuration File
 * Duplicate this file into config.h and set up your settings
 */

// SOFT SETTINGS /////////////////////////////////////

// #define DEBUG // Comment this line to disable USB Serial debug mode

#define SERIAL_BAULRATE               9600 // communication with ESP-01
#define SERIAL_DEBUG_BAULRATE         9600 // for USB debug

#define WIFI_SSID                     "********"
#define WIFI_PASSWORD                 "********"

#define MQTT_HOST                     "192.168.0.249"
#define MQTT_PORT                     1883
#define MQTT_TOWER_ID                 "tower-1" // base path of the topic, ie. home/living/tower-1 (avoid / as first char)

// Rates (CRON EXPRESSION)

#define CRON_RATES_SIZE               10 // MUST set with the amount of items in the array below

char * const CRON_RATES[] = {
  // CODE LEN = 10 MAX
  "ENV_RD   0 */1 *",                   // environment sensor refresh rates > every minute
  "WATR_RD  0 */5 *",                   // EC and water temp refresh rates > every 5 minutes
  "WART_FW  */15 * *",                  // Water Flow Meter refresh rates > every 5 secs (only when pump is on)

  "RETRY    */10 * *",                  // retries (everytime something needs to retry will do in this period)
  
  // times the pump gets started (exact time)
  "PUMP_ON  0 0 7",
  "PUMP_ON  0 0 10",
  "PUMP_ON  0 0 12",
  "PUMP_ON  0 0 15",
  "PUMP_ON  0 0 18",
  "PUMP_ON  0 0 21",

  "PUMP_OFF 0 15 *"                     // pump Off command > after first 15 minutes
};

// WaterFlow Pulse frequency (Hz): is flow rate in L/min.
#define WATER_FLOW_PULSE_HZ   1

#define DARK_THRESHOLD        30 // below this value is considered night (0 to 100)
#define LOW_WATER_LEVEL_STATE HIGH // from the float switch to stop pump

// EC PPM Measurement Sensor (check ./calibration)
#define EC_PPM_R1             500 // (Ohms)
#define EC_PPM_Ra             25 // (Ohms)
#define EC_PPM_Conversion     0.7
#define EC_PPM_TempCoef       0.019
#define EC_PPM_K              2.7

// HARD SETTINGS /////////////////////////////////////

#define VOLAGE_PSU            5.3  // Set the real voltage applied to sensors (used to do calculations)

/////////////////////////////////////
// Digital Pins /////////////////////

#define PIN_LED_FAULT         6  // LED for fault state: the device is not connected or stoped (i.e. RED color)
#define PIN_LED_STATE         5  // LED for normal state: connecting, working normally, etc (i.e. GREEN or BLUE color)

#define PIN_DEBUG_SERIAL_RX   9  // For USB debug software serial
#define PIN_DEBUG_SERIAL_TX   11 // For USB debug software serial

#define PIN_RELAY_PUMP        4  // Any relay module for the Water Pump
#define PIN_FLOAT_SWITCH      3  // Any buoy float switch
#define PIN_FLOW_SENSOR       2  // YF-S201 Flow Meter (must support interrupts)
#define PIN_FLOW_INTERRUPT    0  // Interrupt of the above pin, ie. 0 = digital pin 2

#define PIN_WATER_TEMP_DATA   10 // DS18B20 Encapsulated Data Pin

/////////////////////////////////////
// Analog Pins //////////////////////

// Electric Conductance
#define PIN_WATER_EC          A0 // EC Pin INPUT from 110v
#define PIN_WATER_EC_POWER    A1 // EC Pin Power from 110v

#define PIN_PHOTO_CELL        A3 

// AMT1001 module
#define PIN_ENV_HUM           A6 // YELLOW
#define PIN_ENV_TEMP          A7 // WHITE > 10k resistor to GND

// RTC Clock is managed under SLA & SLC pins on the board
// Which on an Arduino Nano are A4 & A5